html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins";
}

nav {
    font-family: "Plus Jakarta Sans";
}

b {
    font-size: 1.4rem;
}

.card-shadow {
    box-shadow: 1px 8px 24.9px 0px rgba(0, 0, 0, 0.25);
}
